body {
  font-family: sans-serif;
}
.posttitle {
  font-size: 250%;
  line-height: 1em;
}
img {
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
mark {
  background: #fffc76;
  padding: 0 5px;
}
.footnotes {
  font-size: 0.8em;
  line-height: 1.1em;
}
span[data-note] {
  font-size: 0.8em;
  background: #c1c1c1;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle;
  line-height: 18px;
  cursor: pointer;
  margin: 0 2px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -webkit-user-select: none;
  &.open {
    background: #838383;
  }
  @media (min-width: 768px) {
    vertical-align: 1px;
  }
  @media (min-width: 992px) {&:hover {
      background: #838383;
    }
  }
}
.note {
  background: #f8f8f8;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba( 0, 0, 0, 0.2 );
  padding: 20px 20px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transform: translateY( calc( 100% + 8px ) );
  -webkit-transform: translateY( calc( 100% + 8px ) );
  &.shown {
    transform: translateY( 0 );
    -webkit-transform: translateY( 0 );
  }
  @media (min-width: 768px) {
    right: 40px;
    padding-bottom: 20px;
    max-width: 400px;
    left: auto;
    bottom: 40px;
    transition-property: opacity, transform;
    -webkit-transition-property: opacity, transform;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    opacity: 0;
    transform: scale( 0.1 ) translateZ( 0 );
    -webkit-transform: scale( 0.1 ) translateZ( 0 );
    &.shown {
      transform: scale( 1 ) translateZ( 0 );
      -webkit-transform: scale( 1 ) translateZ( 0 );
      opacity: 1;
    }
  }
}
header {
  text-align: center;
  margin: 0 auto;
  font-family: serif;
  font-size: 200%;
}
iframe {
  margin: 45px 0 !important;
}
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  margin-left: 1px;
}
time {
  text-transform: uppercase;
  color: #555;
}
code,
pre {
  font-family: monospace;
}
code {
  background: #eee;
  padding: 2px 6px;
  font-size: 13px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  code {
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  margin: 45px 0;
  thead {
    background: #f2f2f2;
  }
  th {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 15px solid #fff;
  }
  td {
    padding: 4px 0;
  }
}
iframe {
  width: 100%;
}
article {
  line-height: 1.5em;
  max-width: 50em;
  margin: 0 auto;
  .title {
    line-height: 1.4em;
    text-align: center;
  }
}
.back {
  text-align: center;
}
section {
  max-width: 40em;
  margin: 0 auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 25px 0;
      .title {
        max-width: 100%;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        word-wrap: normal !important;
      }
      .post-date {
        float: right;
        margin: 0 0 0 20px;
      }
      span {
        display: inline-block;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}
